name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Setup variables
      run: |
        echo "VERSION=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
        echo "BUILD_DATE=$(date +'%Y.%m.%d %H:%M:%S')" >> $GITHUB_ENV
        echo "Version: $VERSION"
        echo "Build date: $BUILD_DATE"
    
    - name: Build Docker image
      run: |
        docker build -t skpy1/ci-cd-app:latest -t skpy1/ci-cd-app:${{ env.VERSION }} .
        echo "Docker image built"
    
    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "skpy1" --password-stdin
        echo "Logged in to Docker Hub"
    
    - name: Push to Docker Hub
      run: |
        docker push skpy1/ci-cd-app:latest
        docker push skpy1/ci-cd-app:${{ env.VERSION }}
        echo "Images pushed to Docker Hub"
    
    - name: Generate changelog
      run: |
        echo "# Changelog" > CHANGELOG.md
        echo "## Version ${{ env.VERSION }}" >> CHANGELOG.md
        echo "- Build date: ${{ env.BUILD_DATE }}" >> CHANGELOG.md
        echo "- Commit: $GITHUB_SHA" >> CHANGELOG.md
        echo "- Author: ${{ github.actor }}" >> CHANGELOG.md
        echo "- Docker: skpy1/ci-cd-app:${{ env.VERSION }}" >> CHANGELOG.md
        echo "Changelog generated"
    
    - name: Send Telegram Notification
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_CHAT_ID }}
        token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        message: |
          Проект: ci-cd-pipeline
          Версия: ${{ env.VERSION }}
          Дата: ${{ env.BUILD_DATE }}
          Автор: ${{ github.actor }}

          Информация о Git-репозитории
          GIT COMMIT: ${{ github.sha }}
          GIT TAG: v${{ env.VERSION }}

          Информация о Docker-репозитории
          Владелец: skpy1
          Название: ci-cd-app
          Тег: ${{ env.VERSION }}
          Полное имя: skpy1/ci-cd-app:${{ env.VERSION }}

          Ссылки:
          Docker Hub: https://hub.docker.com/r/skpy1/ci-cd-app
          GitHub: ${{ github.server_url }}/${{ github.repository }}


    - name: Success
      run: |
        echo "CI/CD Pipeline completed successfully!"
        echo "Docker: skpy1/ci-cd-app:${{ env.VERSION }}"
        echo "Telegram: Notification with file sent"
        echo "Changelog: Generated and sent"
